$light-pink: #F9F4EF;
$md-pink: #F7A1A5;
$dark-pink: #F15B61;
$gray: #5A5A5A;
$white: #ffffff;

$serif: 'Playfair Display', serif;
$sans-serif: 'Lato', sans-serif;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;