
.home--image{
    content: url(
        https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/Untitled_design_-_2023-02-22T115847.940_ml1EDOM206.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677085189574    );

    @media (max-width: $breakpoint-tablet) {
        content: url(
            https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/Untitled_design_-_2023-02-22T115941.441_KZm7Kfie24.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677085189242        );
    }
}
.about--image{
    content: url(
        https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/projects-image-lrg_k2TCT59yz.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673030033449
            );

            @media (max-width: $breakpoint-tablet) {
                content: url(
                    https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/projects-image-sml_QESFaf7zE.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673044574406
                );
            }
}
.projects--image{
    content: url(
        https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/Untitled_design_-_2023-01-11T190352.769_SwRPSvt-1.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677087578473
    );

            @media (max-width: $breakpoint-tablet) {
                content: url(
                    https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/Untitled_design_-_2023-01-11T190352.7692_1X-J4MZny.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677087578229
                );
            }
}
.contact--image{
    content: url(
        https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/contact-image-lrg2_m8423w7XJ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673045243540
            );

            @media (max-width: $breakpoint-tablet) {
                content: url(
                    https://ik.imagekit.io/webzemi/Ruby-Bonilla-Portfolio/page_images/contact-image-aml2_29wDFqukr.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673045243411
                );
            }
}

.imageColumn__container{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: inline-block;
    top: 0;
    height: 100vh;
    white-space: nowrap;

    & img{
        min-height: 100%;
        min-width: 380px;

        @media (max-width: $breakpoint-tablet){
            min-width: 150px;
            width: 150px;
        }

        @media (max-width: $breakpoint-mobile){
            display: none;
        }
    }
}